<div class='progress-msg'>Thu, 22 Apr 2021 04:45:40 +0000</div>
<div class='progress-msg'>[04:45:40] Composing titles...</div>
<div class='progress-msg'>[04:45:40] Composing excerpts...</div>
<div class='progress-msg'>[04:45:40] Composing duplicate indicators...</div>
<div class='progress-msg'>[04:45:40] Composing authors...</div>
<div class='progress-msg'>[04:45:40] Composing slugs...</div>
<div class='progress-msg'>[04:45:40] Composing menu order...</div>
<div class='progress-msg'>[04:45:40] Composing contents...</div>
<div class='progress-msg'>[04:45:40] Composing dates...</div>
<div class='progress-msg'>[04:45:40] Composing terms for `Product categories` taxonomy...</div>
<div class='progress-msg'>[04:45:40] Composing terms for `Product tags` taxonomy...</div>
<div class='progress-msg'>[04:45:40] Composing URLs for images...</div>
<div class='progress-msg'>[04:45:40] Composing URLs for attachments files...</div>
<div class='progress-msg'>[04:45:40] Composing unique keys...</div>
<div class='progress-msg'>[04:45:40] Processing posts...</div>
<div class='progress-msg'>[04:45:40] Data parsing via add-ons...</div>
<div class='progress-msg'>[04:45:40] Composing product data...</div>
<div class='progress-msg'>[04:45:40] ---</div>
<div class='progress-msg'>[04:45:40] Record #1</div>
<div class='progress-msg'>[04:45:40] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:45:40] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:45:40] Combine all data for post ``...</div>
<div class='progress-msg'>[04:45:40] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:45:40] Duplicate post wasn't found with unique key `- 119 - `...</div>
<div class='progress-msg'>[04:45:40] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:45:40] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[04:45:40] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:45:40] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:45:40] ---</div>
<div class='progress-msg'>[04:45:40] Record #2</div>
<div class='progress-msg'>[04:45:40] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:45:40] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:45:40] Combine all data for post ``...</div>
<div class='progress-msg'>[04:45:40] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:45:40] Duplicate post wasn't found with unique key `- 130 - `...</div>
<div class='progress-msg'>[04:45:40] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:45:40] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[04:45:40] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:45:40] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:45:40] ---</div>
<div class='progress-msg'>[04:45:40] Record #3</div>
<div class='progress-msg'>[04:45:40] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:45:40] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:45:40] Combine all data for post ``...</div>
<div class='progress-msg'>[04:45:40] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:45:40] Duplicate post wasn't found with unique key `- 139 - `...</div>
<div class='progress-msg'>[04:45:40] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:45:40] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[04:45:40] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:45:40] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:45:40] ---</div>
<div class='progress-msg'>[04:45:40] Record #4</div>
<div class='progress-msg'>[04:45:40] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:45:40] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:45:40] Combine all data for post ``...</div>
<div class='progress-msg'>[04:45:40] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:45:40] Duplicate post wasn't found with unique key `- 141 - `...</div>
<div class='progress-msg'>[04:45:40] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:45:40] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[04:45:40] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:45:40] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:45:40] ---</div>
<div class='progress-msg'>[04:45:40] Record #5</div>
<div class='progress-msg'>[04:45:40] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[04:45:40] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[04:45:40] Combine all data for post ``...</div>
<div class='progress-msg'>[04:45:40] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[04:45:40] Duplicate post wasn't found with unique key `- 152 - `...</div>
<div class='progress-msg'>[04:45:40] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[04:45:40] <b>CREATING</b> `` `Product`</div>
<div class='progress-msg'>[04:45:40] <b>ERROR</b>: Content, title, and excerpt are empty.</div>
<div class='progress-msg'>[04:45:40] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[04:45:40] Cleaning temporary data...</div>
