.about-landing{
		//max-height: 1800px;
	//height: 100%;
	width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    overflow:hidden;
    min-height: 400px;

    @media screen and (max-width: $screen-sm-max){
          // min-height: 1250px;
           //min-height: 780px;
    }
    .body-content{
            text-align: center;
            position: absolute;
            top: 185px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            width: 100%;

            h1{
                font-size: 50px;
                color: white;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            @media screen and (max-width: $screen-sm-max){
               h1{
                        font-size: 35px;
               }
            }

    }
    .overlay-wrap{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            z-index: 1;
            top: 0;
            left: 0;
        }
}

.about{
	padding: 100px  0px 0px;
	.about-wrap{
			padding: 0px  0px 100px;

            .title-content{
                text-align: center;
                //margin-top: 100px;
            }
	}
    @media screen and (max-width: $screen-md-max){
          padding: 50px  0px 0px;
          .about-wrap{
            padding: 0px  0px 50px;
        }
    }
}

.our-people{
	padding: 100px  20px 100px;
	background-color: #ebebeb;
    .title-content{
        padding:0px 0px 50px;
        text-align: center;
    }
    .image-wrap{
        text-align: center;
        img{
            border-radius: 300px;
            height: 300px;
            width: 300px;
            margin-bottom: 30px;
        }
    }
    @media screen and (max-width: $screen-md-max){
        padding: 50px  20px 50px;
          .title-content{
            margin-bottom: 30px;
        }
    }
}
.our-value{
    .title-content{
        text-align: center;
        padding-top:100px;
    }
    &__wrap{
        display: flex;
        width: 100%;
        text-align: center;
        padding: 50px 0px 100px 0px;
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
        flex-wrap: nowrap;

        @media screen and (max-width: 1200px){
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
        }


        &--body{
           margin: 15px;
           max-width: 300px;
           width: 100%;
            padding: 20px;
            background: #eee;
        }
    }
    @media screen and (max-width: $screen-md-max){
          .title-content{
           padding-top:50px;
        }
        &__wrap{
             padding: 20px 0px 50px 0px;
        }
    }
    @media screen and (max-width: $screen-sm-max){
        &__wrap{
             &--body{
               margin: 15px;
               max-width: 100%;
               width: 100%;
            }
        }
    }
}
.our-commitments{
    padding: 100px  20px 100px;
    background-color: #ebebeb;
    .title-content{
        padding:0px 0px 50px;
        text-align: center;
    }
    &__wrap{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1000px;
        width: 100%;
        ul{
            list-style: none;
            padding:0;
            margin:0;
            li{
                padding:0;
                .fas{
                    font-size: 25px;
                    margin-right: 15px;
                }
                h4{
                    display: inline-block;
                }
            }
        }
    }
    @media screen and (max-width: $screen-md-max){
        padding: 50px  20px 50px;
         &__wrap{
            ul{
                li{
                    .fas{
                        font-size: 15px;
                        margin-right: 10px;
                    }
                    h4{
                        font-size: 20px;
                    }
                }
            }
         }
    }
    @media screen and (max-width: $screen-sm-max){
         .title-content{
                padding:0px 0px 20px;
            }
         &__wrap{
            ul{
                li{
                    h4{
                        font-size: 18px;
                    }
                }
            }
         }
    }
}