.product-landing{
		//max-height: 1800px;
	//height: 100%;
	width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    overflow:hidden;
    min-height: 400px;

    @media screen and (max-width: $screen-sm-max){
          // min-height: 1250px;
           //min-height: 780px;
    }
    .body-content{
            text-align: center;
            position: absolute;
            top: 185px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            width: 100%;

            h1{
                font-size: 50px;
                color: white;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            @media screen and (max-width: $screen-sm-max){
               h1{
                        font-size: 35px;
               }
            }

    }
    .overlay-wrap{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            z-index: 1;
            top: 0;
            left: 0;
        }
}

	


.stocklist{
	padding:0px 0px 50px;

	.new-arrival{
		text-align: center;
		padding: 100px 0px 50px 0;
		border-bottom: 1px solid $brand-bg;
		background-color:$brand-bg;

		&__info{
			max-width: 1000px;
			width: 100%;
			margin: 0 auto 50px;
			text-align: center;
		}
		.arrow-down{
			padding-top:50px;
			a{
				text-decoration:none;
				color: $black;
				.fas{
					font-size: 25px;
					color: $black;
				}
			}
		}
	}
	&__listings{
		&--wrap{
			.stocklist__listings--stock{
				form{
					.orderby{
						border-radius: 0;
						//border: 1px solid #eee;
						height: 40px;
						width: 260px;
						padding-left: 5px;
						font-family: $whitneymedium;

					}
				}
				h2{
					color: $black;
				}
				.button{
					display: none;
				}

			
				.product-wrapper{
					padding-top:50px;
					.product-title{
						max-width: 1000px;
						width: 100%;
						margin: 0 auto 100px;
						text-align: center;
					}
					.filter-wrap{
						padding:0 15px;
						background-color:$brand-bg;
						@media screen and (max-width: $screen-lg-max){
					          display: none !important;
					    }
					}
				}
			}
		}
	}

}

.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
    //width: 30.75%;
    //height: 250px !important;
    //margin-bottom: 50px;
}

.woocommerce ul.products li.product a img {
   // width: 100%;
    //height: auto;
    //display: block;
   // margin: 0 0 1em;
    //box-shadow: none;
    //max-height: 230px !important;
    //height: 100% !important;
}

/*.woocommerce ul.products li.wc-block-grid__product {
    padding: 20px;
    background: #333333;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    flex: 1 0 calc(30% - 16px) !important; /* Add !important here */
//}*/

.slick-dots li button::before {
	display: none !important;
}

/*.woocommerce nav.woocommerce-pagination {
		position: absolute;
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
	    text-align: center;
	}*/


// New Product slider
#wps-slider-section #sp-woo-product-slider-1040.wps-product-section ul.slick-dots li button {
    background-color: #cccccc;
}
#wps-slider-section .wps-product-section ul.slick-dots li button {
    border-radius: 0% !important;
}

#wps-slider-section img.wpsf-product-img{
	//max-height: 220px !important;
   //height: 100% !important;
   // width: 100%
}

.woocommerce nav.woocommerce-pagination ul {
		//margin: 0 auto;
		//width: 83px;
		//display: block;
}

.wp-post-image{
	max-width: 450px !important;
	width: 100% !important;

}
.woocommerce-products-header{
	margin-bottom: 50px;
	text-transform: uppercase;
	text-align:center;

	.term-description{
		p{
			font-size: 30px;
			font-weight: 800;
		}
	}
}
.woocommerce-result-count{
	font-size: 20px;
}

.woocommerce-product-details__short-description{
	//padding-bottom: 20px;
	//padding-top: 30px;
	a{
			padding: 6px 12px 6px;
			background-color: #000;
			color: #fff;
			text-decoration: none;
			font-size: 16px;
			text-transform: uppercase;
			&:hover{
				color: $white;
			}
	}
}

//--- New arrival pagination  styling

#pt-cv-view-2e67585rvu + .pt-cv-pagination-wrapper .pagination .active a{
	//background-color: $footer-bg2 !important;
}


//--- New arrival pagination  styling end -->
.woocommerce div.product form.cart {
    margin-bottom: 2em;
    margin-top: 30px;
}

.woocommerce div.product p.price{
	color: $black;
}

.woocommerce-ordering{
	margin-bottom: 50px !important;
}
.additional_information_tab{
	display: none !important;
}

.add_to_cart_button{
	display: none !important;
}
.tabs{
	//display: none !important;
}
.product_type_simple{
	display: none !important;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	color: inherit !important;
}
.content-area{
	.woocommerce-breadcrumb{
		//display: none;
	}
	.product{
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		padding: 80px 20px 80px 20px;
		//height: 100vh;

		.woocommerce-Price-amount{
			//display: none;
			color: $black;
			font-family:$whitneymedium;
		}
		.cart{
			//display: none;
			.quantity,.single_add_to_cart_button{
				display: none;
			}
		}
		.onsale{
			//display: none;
		}
		.woocommerce-tabs{
			.tabs{
				//display: none;
			}
		}
		.related{
			.button{
				//display: none;
			}
		}
		.summary{
			.price{
				font-size: 30px !important;
				color: $black !important;
			}
			.product_meta{
				font-family:$whitneymedium;
				span{
					a{
						//text-decoration: none;
						color: inherit;
					}
				}
			}
			.variations_form{
				.label{
					padding:0px;
				}
				.value{
					/*select{
						border-radius: 0;
						//border: 1px solid #eee;
						height: 40px;
						width: 260px;
						padding-left: 5px;
						font-family: $whitneymedium;
					}*/
					a{
						color: inherit;
					}
				}
			}
		}

	}
}
.reset_variations{
	font-family:$whitneymedium;
}

.related{
	ul{
		li{
			a{
				text-decoration: none;
				color: inherit;
			}
		}
	}
}
.woocommerce-variation-add-to-cart{
	display: none;
}

.single-product .woocommerce-breadcrumb{
	max-width: 1200px !important;
	margin: 80px auto 0 !important;
	width: 100% !important;
	//display: none !important;
	padding-left:20px;
	color:$black;
	a{
		color:$black;
	}
	@media screen and (max-width: $screen-sm-max){
        margin: 50px auto 0 !important;
    }
}

.archive .woocommerce-breadcrumb{
	max-width: 1200px !important;
	// margin: 40px auto !important;
	width: 100% !important;
	//display: none !important;
	// padding-left:20px;
	color:$black;
	a{
		color:$black;
	}
	@media screen and (max-width: $screen-sm-max){
        margin: 50px auto 0 !important;
    }
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius:0px !important;
}


/*.term-electrical, .term-bathroom, .term-bedroom, .term-constructions, .term-kitchen, .term-bbqs, .term-laundry{
	.product_newarrivals{
		display: none !important;
	}
}*/
.tax-product_cat{
	.product_newarrivals{
		display: none !important;
	}
}


#sidebar{
	//display: none;
}
.product_meta{

	.sku_wrapper{
		white-space: pre !important;
	}
	.posted_in{
		white-space: pre !important;
	}
	.tagged_as{
		white-space: pre !important;
	}
}
element {

}
.select2-container--default .select2-selection--single .select2-selection__rendered {

}

.wpf_item input[type="text"]{

}

select{
display: block;
font-size: 16px;
font-family: sans-serif;
//font-weight: 700;
font-family: $whitneymedium !important;
color: $black;
line-height: 1.3;
padding: .6em 1.4em .5em .8em;
width: 100%;
max-width: 100%; /* useful when width is set to anything other than 100% */
box-sizing: border-box;
margin: 0;
border: 1px solid $black;
//box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
//border-radius: .5em;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
background-color: #fff;
/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

*/
background-image: url('../../images/down-arrow.png');
background-repeat: no-repeat, repeat;
/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
background-position: right .7em top 50%, 0 0;
/* icon size, then gradient */
background-size: .65em auto, 100%;
}

/* class applies to select element itself, not a wrapper element */
.orderby, .sf-input-select{
display: block;
font-size: 16px;
font-family: sans-serif;
//font-weight: 700;
font-family: $whitneymedium !important;
color: $black;
line-height: 1.3;
padding: .6em 1.4em .5em .8em;
width: 100%;
max-width: 100%; /* useful when width is set to anything other than 100% */
box-sizing: border-box;
margin: 0;
border: 1px solid $black;
//box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
//border-radius: .5em;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
background-color: #fff;
/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

*/
background-image: url('../../images/down-arrow.png');
background-repeat: no-repeat, repeat;
/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
background-position: right .7em top 50%, 0 0;
/* icon size, then gradient */
background-size: .65em auto, 100%;
}

/* Set options to normal weight 
.orderby, .sf-input-select option {
font-weight:normal;
}*/

/* Support for rtl text, explicit support for Arabic and Hebrew 
*[dir="rtl"] .sf-input-select, :root:lang(ar) .sf-input-select, :root:lang(iw) .sf-input-select {
background-position: left .7em top 50%, 0 0;
padding: .6em .8em .5em 1.4em;
}*/

/* Disabled styles 
.sf-input-select:disabled, .sf-input-select[aria-disabled=true] {
color: graytext;
background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffffff 0%,#575757 100%);
}*/

.sf-input-select:disabled:hover, .sf-input-select[aria-disabled=true] {
//border-color: #aaa;
}