.contact-landing{
    width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    position: relative;
    overflow:hidden;
    min-height: 400px;
    .body-content{
            text-align: center;
            position: absolute;
            top: 185px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            width: 100%;

            h1{
                font-size: 50px;
                color: white;
                letter-spacing: 1px;
                text-transform: uppercase;

            }
            @media screen and (max-width: $screen-sm-max){
               h1{
                        font-size: 35px;
               }
            }

    }
    .overlay-wrap{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            z-index: 1;
            top: 0;
            left: 0;
    }
}
.contact{
    padding: 100px 0px;
    .contact-form {
        iframe {
            max-width: 450px;
            width: 100%;
            height: 340px;
        }
    }
    &__wrap{
        &--map{

        }
        &--info{
            //margin-top: 20px;
            h4{
                margin:0;

                a{
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}