.document-landing{
    //max-height: 1800px;
	//height: 100%;
	width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    overflow:hidden;
    min-height: 400px;

    @media screen and (max-width: $screen-sm-max){
          // min-height: 1250px;
           //min-height: 780px;
    }
    .body-content{
            text-align: center;
            position: absolute;
            top: 185px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            width: 100%;

            h1{
                font-size: 50px;
                color: white;
                letter-spacing: 1px;
                text-transform: uppercase;

            }
            @media screen and (max-width: $screen-sm-max){
               h1{
                        font-size: 35px;
               }
            }

    }
    .overlay-wrap{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            z-index: 1;
            top: 0;
            left: 0;
    }
}

.document{
    padding:100px 0px;
    
    @media screen and (max-width: $screen-sm-max){
         padding:50px 0px;
    }
    &__intro{
            max-width: 1000px;
            margin:0 auto 50px;
            text-align: center;
    }
   &__btn{
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    @media screen and (max-width: 1200px){
        justify-content:space-evenly;
    }
        &--wrap{
            color: $black !important;
            cursor: pointer;
            text-decoration: none;
            .wrapper{
                h3{
                   margin-bottom: 20px;
                    @media screen and (max-width: 1200px){
                        margin-top: 30px;
                    }
                }
                img{
                    width: 100%;
                    max-width: 150px;
                }
                &:hover{
                     .wrapper{
                        color: inherit;
                        h3{
                           text-decoration: underline;
                           margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
    &__body{
        margin: 50px 0;
        &--wrap{
            //padding-bottom: 50px;
            .title{
                margin-bottom: 20px;
            }
            .content-body{
                padding: 15px 20px;
                background: #000;
                color: #fff;
                 @media screen and (max-width: $screen-sm-max){
                        display: none;
                    }


                h4{
                    margin:0;
                    //color: inherit;
                }
            }
            .link-info{
                padding: 15px 20px;
                background: #eee;
                border-bottom: 1px solid #000;
                margin-top: 10px;
                .show-mobile{
                    display: none;
                    color: $black;
                    font-family: $whitneysemibold;
                    margin-bottom:5px;
                      margin-top:10px;
                    @media screen and (max-width: $screen-sm-max){
                        display: block;
                    }
                }
                h5{
                    color: $footer-bg;
                    a{
                        color:$footer-bg;
                    }

                }
            }
        }
    }
}



#catalogues{
    display: none;
}

#softwareupdates{
    display: none;
}

#productmanual{
    display: none;
}



