.landing{
	height: 100%;
	width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    overflow:hidden;
    min-height: 900px;

    @media screen and (max-width: $screen-sm-max){
           min-height: 780px;
           background-image:url('../../images/mobile-bg.png');
         background-size:cover;
         background-repeat:no-repeat;
         background-position:center;
    }
    #videoBG{
        position:absolute;
        z-index: -1;
        //width: 100%;
       // height: auto;

        @media screen and(min-aspect-ratio:16/9){
            width: 100%;
            height: auto;
        }
        @media screen and(max-aspect-ratio:16/9){
            width: auto;
            height: 100%;
        }
         @media screen and (max-width: $screen-sm-max){
             display: none;
        }
    }

	.body-content{
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 2;
		width: 100%;
		max-width: 1200px;
		@media screen and (max-width: $screen-md-max){
		          max-width: 800px;
		    }
		    @media screen and (max-width: $screen-sm-max){
		          max-width: 500px;
		          padding: 7px;
		    }
		h1{
			font-size: 90px;
			color: white;
			letter-spacing: 1px;
		}
		h3{
			color: white;
			font-family:$whitneysemibold;
			@media screen and (max-width: $screen-md-max){
			          font-size: 1.3rem;
			    }
		}
		@media screen and (max-width: $screen-sm-max){
	           h1{
	           			font-size: 35px;
	           }
	    }
    }
	.overlay-wrap{
    	position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.4);
		z-index: 1;
		top: 0;
		left: 0;
    }
}

.new-arrival{
	padding:100px 0px;

	&__wrap{
		text-align: center;
		.title{
			max-width: 800px;
			margin: 0px auto 50px;
			width: 100%;
			h1{
				text-transform: uppercase;
			}
		}
		&--products{
			img{
				width: 100%;
				max-width: 200px;
				margin-bottom: 15px;
			}
			.products-details{
				max-width: 260px;
				margin: 0 auto 30px;
			}

			.mx-auto{
				a{
					text-decoration: none;
					color: inherit;
				}
			}
		}

		.view-more-btn-wrap{
			margin-top: 30px;
			.view-more-btn{
				padding: 15px 70px;
				background-color: $footer-bg2;
				color: $white;
				text-decoration: none;
				font-family: $whitneysemibold;
			}
		}
	}

	@media screen and (max-width: $screen-md-max){
          padding:50px 0px 70px;
      	&__wrap{
          	&--products{
          		img{
					//width: 100%;
					//max-width: 100%;
					margin-bottom: 30px;
				}
				.products-details{
					//max-width: 260px;
					margin: 0 auto 14px;
				}
          	}
      	}
    }
   #pt-cv-view-46f1a83mcw + .pt-cv-pagination-wrapper .pt-cv-more{
    	padding: 15px 70px !important;
		//background-color: $footer-bg2 !important;
		color: $white !important;
		text-decoration: none;
		font-size: 1rem;

		font-family: $whitneysemibold !important;
		border-radius: 0px !important;
		.caret{
			display: none;
		}
    }
}

.image-slider{
	.image-slider-wrapper{
			&__wrap{
			position:relative;
			width: 100%;
			height: 500px;
			@media screen and (max-width: $screen-sm-max){
				height: 400px;
		    }
			img{
				width: 100%;
			}
			.overlay-text{
				position: absolute;
				bottom: 100px;
				left: 50px;
				background-color: rgba(0,0,0,0.5);
				padding: 50px;
				color: $white;
				z-index: 2;
				width: 100%;
				max-width: 800px;
				@media screen and (max-width: $screen-md-max){
			        bottom: 0px;
					left: 0px;
					max-width: 100%;
					padding: 35px;
			    }
			    @media screen and (max-width: $screen-sm-max){
					padding: 20px;
			    }
			}
			.overlay-wrap{
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(255,255,255,0.2);
				z-index: 1;
				top: 0;
				left: 0;
			}
		}
	}
}

.brand{
	padding:80px 50px;
	background: $brand-bg;
	text-align: center;
	.title{
		max-width: 800px;
		margin: 0px auto;
		width: 100%;
	}
	.brand-logo{
		margin:50px 0 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.grid-item{
			width: 20%;
			padding: 0 15px;
			.logo{
				height: 100px;
				display: block;
				text-align: center;
				//opacity: 0.6;
				transition: all 300ms ease;
				&:hover{
					//opacity: 1;
				}

			}
		}
	}
	@media screen and (max-width: $screen-md-max){
          padding:50px 20px 0px;
    }
}

.subscription{
    padding:100px 20px;
    .title{
    	text-align:center;
    	h1{
    		margin-bottom: 50px;
    		text-transform: uppercase;
    	}
    }
    .subscription-form{
    }
    @media screen and (max-width: $screen-md-max){
           padding:50px 0px 40px;
           .title{
    	text-align:center;
		    	h1{
		    		margin-bottom: 0px;
		    		text-transform: uppercase;
		    	}
		    }
      }
}