.news{
	padding: 100px 0px;

	&__wrap{
		margin-bottom: 25px;
		border-bottom: 1px solid #eee;
		h1{
			margin-bottom: 30px;
			text-transform: uppercase;
		}

	}
}


.pt-cv-wrapper{
	.pt-cv-view{
		.pt-cv-content-item{
			font-family: $whitneymedium;
			.pt-cv-title{
				a{
					color: $darkblue !important;
					font-family: $whitneymedium;

				}
			}
			.pt-cv-content{
				font-family: $whitneymedium;
				.btn{
					border:none !important;
					border-radius:0px !important;
					background-color: $footer-bg2 !important;
					font-family: $whitneysemibold;
				}
			}
			.pt-cv-href-thumbnail{
				.pt-cv-thumbnail{
					width: 100%;
				}
			}
		}
	}
}


.single_wrap{
	padding: 100px 0px;
	&__title{
		font-size: 30px;
		font-family: $whitneysemibold;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	&__image{
		margin-bottom: 30px;
		width: 100%;
		height: 400px;
	}
}
#pt-cv-view-babebf415q .pt-cv-readmore {
    color: #ffffff !important;
    background-color: $footer-bg2 !important;
}