.termsandprivacy-landing{
    //max-height: 1800px;
	//height: 100%;
	width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    overflow:hidden;
    min-height: 400px;

    @media screen and (max-width: $screen-sm-max){
          // min-height: 1250px;
           //min-height: 780px;
    }
    .body-content{
            text-align: center;
            position: absolute;
            top: 185px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            width: 100%;

            h1{
                font-size: 50px;
                color: white;
                letter-spacing: 1px;
                text-transform: uppercase;

            }
            @media screen and (max-width: $screen-sm-max){
               h1{
                        font-size: 35px;
               }
            }

    }
    .overlay-wrap{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            z-index: 1;
            top: 0;
            left: 0;
    }
}

.container{
    .view-more-btn-wrap{
        margin-bottom: 40px;
        .view-more-btn{
            font-size: 30px !important;
            text-decoration: none !important;
            background: $footer-bg2 !important;
            padding: 10px 15px;
            color: #fff !important;
         }
    }
}

.termsandprivacy {
    margin-top: 58px;
    margin-bottom: 72px;

    h5{
        font-size: 31px;
        font-weight: 800;
    }
}

#competitiontac {
    display: none;
}