/** Common sass **/

html,body{
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	@include font-smoothing(on);
}


.wrapper {
	// overflow-x:hidden;
}

/*.wrapper {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:stretch;
	height:100%;
	overflow-x:hidden;

	.site-content {
		flex:1;
	}
}*/

// Create grow and shrink flex column classes for each breakpoint
@each $breakpoint, $value in $grid-breakpoints {

	.col-#{$breakpoint}-grow {
		@include media-breakpoint-up(#{$breakpoint}) {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: initial;
			width: auto;
		}
	}

	.col-#{$breakpoint}-shrink {
		@include media-breakpoint-up(#{$breakpoint}) {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: auto;
			width: auto;
		}
	}
}

.clearfix:after {
	content:'';
	display:table;
	clear:both;
}


	.view-more-btn-sp{
		padding: 15px 70px;
		background-color: $footer-bg2;
		color: $white;
		text-decoration: none;
		font-family: $whitneysemibold;
		&:hover{
			color: $white;
			text-decoration: none;
		}
	}
	

:hover,
:focus,
:active {
	outline: none !important;
}

input,
textarea,
select,
label{
	font-family:inherit;
}

a,
button,
input {
	outline: none;
}

img{
	max-width:100%;
	height:auto;
}

table {
	width:100%;

	td,
	th {
		vertical-align:top;
	}
}

hr {
	margin: $grid-gutter-width/2 auto;
	border:none;
	text-align:center;

	&:after {
		content:'';
		display:block;
		height:1px;
		background:black; // TODO
	}
}

h1,
.h1 {
	font-family:$whitneybold;
	text-transform: uppercase;
}

h2,
.h2 {
	font-family:$whitneybold;
}

h3,
.h3 {
	font-family:$whitneysemibold;
}

h4,
.h4 {
	font-family:$whitneymedium;
}

h5,
.h5 {
	font-family:$whitneymedium;
}

h6,
.h6 {
}

p {
	margin:0px;
	font-family:$whitneymedium;
}

ul,
ol {
	margin:0px;
	padding:0px 0px 0px $grid-gutter-width/2;

	li {
		margin:0px;
		padding:0px 0px 0px $grid-gutter-width/3;
		font-family:$whitneymedium;
	}
}

a {
	img,
	div,
	*:after,
	*:before {
		text-decoration:none;
	}
}

img.alignleft {
	float:left;
}
img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img.alignright {
	float:right;
}
@media screen and (max-width:$screen-xs-max) {
	img.alignleft,
	img.aligncenter,
	img.alignright {
		display:block;
		float:none !important;
		margin-left:auto !important;
		margin-right:auto !important;
	}
}

.valign {
	display:block;
	vertical-align:middle;
	white-space:nowrap;

	> * {
		display:inline-block;
		vertical-align:middle;
		white-space:normal;
	}

	&:after {
		content:'';
		display:inline-block;
		height:100%;
		vertical-align:middle;
		pointer-events:none;
	}
}

.flex-valign {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
}

.flex-stretch {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:stretch;
}

.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}

.no-click {
	pointer-events:none;
}

.hidden-desktop {
	@include media-breakpoint-up(md) {
		display:none !important;
	}
}

.hidden-mobile {
	@include media-breakpoint-down(sm) {
		display:none !important;
	}
}

[data-toggle='collapse'] {
	&.collapsed .collapsed__hidden,
	&:not(.collapsed) .collapsed__visible {
		display:none;
	}
}

[data-toggle='class'] {
	&.classed .classed__hidden,
	&:not(.classed) .classed__visible {
		display:none;
	}
}


.woocommerce ul.products li.product a img {
    width: 100%;
    height: 250px!important;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
	object-fit: scale-down;

}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: 1em;
    text-align: center;
}

.woocommerce ul.products li.product .price {
    color: #77a464;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: .857em;
    text-align: center;
}


.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    @media screen and (max-width:491px) {
		float: left!important;
	}
}

#wps-slider-section img.wpsf-product-img{
	height: 250px;
	object-fit: scale-down;
}

.filter-wrap{
	padding: 15px!important;
}