@font-face {
	font-family:'WhitneyBold';
	
	src:url('../../fonts/Whitney-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/whitneybold.otf') format('opentype'),
		url('../../fonts/Whitney-Bold.woff') format('woff'),
		url('../../fonts/Whitney-Bold.ttf')  format('truetype'),
		url('../../fonts/Whitney-Bold.svg#Whitney-Bold') format('svg');
}
@font-face {
	font-family:'WhitneyBook';
	
	src:url('../../fonts/Whitney-Book.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Whitney-Book.otf') format('opentype'),
		url('../../fonts/Whitney-Book.woff') format('woff'),
		url('../../fonts/Whitney-Book.ttf')  format('truetype'),
		url('../../fonts/Whitney-Book.svg#Whitney-Book') format('svg');
}
@font-face {
	font-family:'WhitneyLight';
	
	src:url('../../fonts/Whitney-Light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/whitneylight.otf') format('opentype'),
		url('../../fonts/Whitney-Light.woff') format('woff'),
		url('../../fonts/Whitney-Light.ttf')  format('truetype'),
		url('../../fonts/Whitney-Light.svg#Whitney-Light') format('svg');
}

@font-face {
	font-family:'WhitneyMedium';
	
	src:url('../../fonts/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/whitneymedium.otf') format('opentype'),
		url('../../fonts/Whitney-Medium.woff') format('woff'),
		url('../../fonts/Whitney-Medium.ttf')  format('truetype'),
		url('../../fonts/Whitney-Medium.svg#Whitney-Medium') format('svg');
}
@font-face {
	font-family:'WhitneySemibold';
	
	src:url('../../fonts/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/whitneysemibold.otf') format('opentype'),
		url('../../fonts/Whitney-Semibold.woff') format('woff'),
		url('../../fonts/Whitney-Semibold.ttf')  format('truetype'),
		url('../../fonts/Whitney-Semibold.svg#Whitney-Semibold') format('svg');
}

