.site-footer {
	&__wrapper{
		.top-footer{
			padding: 40px 15px;
			background-color:$footer-bg;
			@media screen and (max-width: $screen-md-max){
		       padding: 40px 15px;
		    }
			.logo{
				a{
					img{
						max-width: 150px;
						margin-top: 20px;
						@media screen and (max-width: $screen-sm-max){
					      margin-bottom: 20px;
					    }
					}
				}
			}
			.social-icon{
				ul{
					li{
						display: inline-block;
						margin-top: 0px;
					}
				}
			}
			ul{
			list-style: none;
				li{
					margin-top: 15px;
					a{
						color: $white;
						text-decoration: none;
					}
				}
				@media screen and (max-width: $screen-md-max){
			       padding: 0;

			       li{
			       	 padding: 0;
			       	 margin-top: 10px;
			       }
			    }
			    @media screen and (max-width: $screen-sm-max){
			       li{
			       	 margin-top: 5px;
			       }
			    }
			}
		}
		.bottom-footer{
			padding: 30px;
			background-color:$footer-bg2;
			p{
				color: $white;
				a{
					text-decoration:none;
					color: $white;
				}
			}
			.text-right{
				text-align: right;
			}
		}
	}
}

.modal{
	.modal-dialog{
		max-width: 1200px;
		.modal-content{
			border:0px !important;
			border-radius:0px;
			.modal-header{
				padding: 20px 50px;
				@media screen and (max-width: $screen-md-max){
			       padding: 10px 20px;
			    }
				.close{
					background: transparent;
					border: 0px;
					span{
						font-size: 35px;
					}
				}
			}
			.modal-body{
				padding: 50px;
				@media screen and (max-width: $screen-md-max){
			       padding: 20px;
			    }
			}
		}
	}
}