.btn {
    transition: border 300ms ease, background 300ms ease, color 300ms ease;
}

.form-control {
    &::placeholder {
        opacity: 1 !important;
    }
}

%radio {
    position: relative;
    padding: 0px 0px 0px 35px !important;

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__label {
        &:before {
            content: '';
            display: block;
            position: relative;
            float: left;
            top: 4px;
            width: 20px;
            height: 20px;
            margin: 0px 0px 0px -35px;
            background: white;
            border: 5px solid white;
            border-radius: 20px;
            line-height: 1;
        }

        &--active {
            &:before {
                background: black;
            }
        }

        &--focussed {
            &:before {
                border-color: $secondary;
            }
        }
    }
}

%checkbox {
    position: relative;
    margin: 0px;
    padding: 0px 0px 0px 35px !important;

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__label {
        &:before {
            content: '';
            display: block;
            position: relative;
            float: left;
            top: 0px;
            width: 20px;
            height: 20px;
            margin: 0px 0px 0px -35px;
            background: white;
            border: 5px solid white;
            line-height: 1;
        }

        &--active {
            &:before {
                background: black;
            }
        }

        &--focussed {
            &:before {
                border-color: $secondary;
            }
        }
    }
}

    .nf-form-cont{
            .nf-form-title{
                display: none;
            }
            .nf-form-wrap{
                .nf-form-layout{
                    .nf-form-content {
                        max-width: 100%;
                        .ninja-forms-req-symbol{
                            display: none;
                        }

                        .nf-field-container{
                            .field-wrap{
                                .nf-field-element{
                                    input{
                                        border-radius:0px !important;
                                        //width: 50%;
                                        //display: inline-block;
                                        border: 1px solid $footer-bg2 !important;
                                        font-family:$whitneybook;
                                        background:transparent;
                                        color:inherit;
                                        height: 50px;
                                    }
                                    textarea{
                                        border-radius:0px !important;
                                        border: 1px solid $footer-bg2 !important;
                                        font-family:$whitneybook;
                                    }
                                    button{
                                        padding: 15px 70px;
                                        background: $footer-bg2;
                                        color: #fff;
                                        text-decoration: none;
                                        border-radius:0px;
                                        border:0px;
                                        font-family:$whitneysemibold;
                                    }
                                    select{
                                        border-radius:0px !important;
                                        //width: 50%;
                                        //display: inline-block;
                                        border: 1px solid $footer-bg2 !important;
                                        font-family:$whitneybook;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

.nf-error.field-wrap .nf-field-element::after {
    display: none;
}

label{
    font-family:$whitneybook;
}

.checkbox-container.label-right label::before {
    left: -4px !important;
    top: 0;
}

.nf-form-cont .checkbox-container .nf-field-label label::before{
    border: 5px solid #eee !important;
}


