.site-header {
	background-color: rgba(0,0,0,0.7);
	//background-color:transparent;
	padding: 5px 0px 5px;
	position: fixed;
	width: 100%;
	z-index: 600;
	.custom-container{
		max-width: 1320px;
		width: 100%;
		margin: 0 auto;
		padding:0 15px;
	}

	.menu-bar{
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		width: 100%;
		&__left{
			width: 20%;
			float: left;
			display: inline-block;
			.logo{
				margin-top: 5px;
			}
			@media screen and (max-width: 960px){
				display: none;
			}
		}
		&__right{
			width: 80%;
			float: right;
			@media screen and (max-width: 960px){
				width: 100%;
			}

			.mobile-logo{
				display: none;
				margin-top:5px;
				@media screen and (max-width: 960px){
					display:inline-block;
				}
			}
		}
	}
	/*nav{
		.custom-menu-class{
			ul{
				display: inline-block;
				list-style-type: none;
				margin: 0px;
				li{
					margin-left: 20px;
					a{
						text-decoration: none;
						display: inline-block;
						color: $white;
						font-size: 20px;
						font-family: $whitneysemibold;
					}
					ul{
						display: none;
						position: fixed;
						background-color: rgba(0,0,0,.5);
						padding: 15px 15px 15px 15px;
						top:69px;
						li{
							display: block;
							margin: 0px;
							padding:0px;
							a{
								font-size: 18px;
							}

						}
					}
					&:hover{
						cursor: pointer;
						ul{
							display: block;
							li{
								height: 30px;

							}
						}
					}
				}
			}
		}
		.hamburger{
			display: none;
			position:relative;
			height: 18px;
			width: 25px;
			margin-left: auto;
			cursor: pointer;
			span{
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: $white;
				position: absolute;
				transition: all .3s ease;
				&:nth-child(1){
					top: 0;
				}
				&:nth-child(2){
					top: 8px;
				}
				&:nth-child(3){
					top: 16px;
				}
			}
			&.open{
				span{
					&:nth-child(1){
						top: 8px;
						transform: rotate(45deg);
					}
					&:nth-child(2){
						width: 0px;
					}
					&:nth-child(3){
						top: 8px;
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
	/*&__scrolling-active{
			background-color: rgba(0,0,0,0.5);

			.main-menu{
				ul{
					li{
						a{
							color: $white;
						}
					}
				}
			}
		}*/
		/*@media screen and (max-width: 1024px){
			nav{
				a{
					.logo{
						width: 80px;
					}
				}
				.custom-menu-class{
					display: none;
					ul{
						margin-top: 20px;
						li{
							display: block;
							margin-bottom: 15px;
							a{
								padding:10px;
							}
						}
					}
				}
				.hamburger{
					display: block;
					z-index: 9;
				}
			}
		}*/
}

.sticky-btn{
	position: fixed;
	top: 30%;
	right: 0;
	z-index: 3;
	&__wrap{
		padding: 20px 10px;
		text-align: center;
		background-color: rgba(0,0,0,0.4);
		a{
			img{
				width: 29px;
			}
			.fab{
				color: #fff;
				font-size: 30px;
				margin-top: 10px;
			}
		}
	}
}

.ubermenu-skin-trans-black.ubermenu-responsive-toggle {
	color: #fff !important;
	font-size: 26px !important;
	padding: 5px 0 !important;
	//margin-top: 5px !important;
}

/*.page-template-homepage{
	.site-header {
		background-color:transparent;

		.main-menu{
			ul{
				li{
					a{
						color: $menu-bar;
					}
				}
			}
		}
		&__scrolling-active{
			background-color: rgba(0,0,0,0.5);

			.main-menu{
				ul{
					li{
						a{
							color: $white;
						}
					}
				}
			}
		}
	}
}*/


// SPECIAL CASE FOR WHEN WP ADMIN BAR IS VISIBLE AND HEADER IS FIXED
/*body.admin-bar {
	header {
		top:32px;

		@media screen and (max-width:782px) {
			top:46px;
		}

		@media screen and (max-width:$screen-xs-max) {
			top:0px;
		}
	}
}*/