/* SASS Vars */

$whitneybold: 'WhitneyBold', sans-serif;
$whitneybook: 'WhitneyBook', sans-serif;
$whitneylight: 'WhitneyLight', sans-serif;
$whitneymedium: 'WhitneyMedium', sans-serif;
$whitneysemibold: 'WhitneySemibold', sans-serif;


$darkblue: #1B1936;
$lightblue: #2c4588;
$footer-bg: #575757;
$black: #000000;
$white: #ffffff;
$footer-bg2:#272727;
$menu-bar:#b75d5a;
$brand-bg:#f1f1f1;